@{
    Script.Require("AngularJS-UI");
    //Script.Require("AngularJS-Autocomplete");
    Script.Require("Club.New.Member");    
    Style.Require("Club.New.Member");
}
<div id="NewMemberRegistration" data-ng-app="ivNet.Member.Registration.App">
    <div data-ng-controller="RegistrationController">        
        @using (Html.BeginFormAntiForgeryPost(Url.Action("New", "Member", new { area = "ivNet.Club" }), FormMethod.Post, new { @class = "form-horizontal", id = "newMemberForm" }))
        {
            <fieldset>
                @Html.Partial("_Instruction")
                @Html.Partial("_RegistrationType")

                @Html.Partial("_GuardianCount")
                @Html.Partial("_Member")

                @Html.Partial("_JuniorCount")
                @Html.Partial("_Junior")

                @Html.Partial("_Other")

                @Html.Partial("_Button")
            </fieldset>
        }
    </div>
</div>
