@{
    Script.Require("AngularJS-Resource");
    Script.Require("Club.Admin.Member.List");

    Style.Require("Club.New.Member");
    Style.Require("trNgGrid");
}

<div id="AdminMemberMembers" data-ng-app="ivNet.Admin.Member.List.App">
    <div data-ng-controller="AdminMemberListController">
        <fieldset>
            @Html.Partial("_MemberList")
            <div id="memberDetail">
                @Html.Partial("_Shared/_GuardianDetails")
                @Html.Partial("_Shared/_JuniorDetails")
                @Html.Partial("_Shared/_JuniorRepeatDetails")
                @Html.Partial("_Shared/_GuardianRepeatDetails")
                <div class="form-group">
                    <span class="col-md-6">
                        <input id="singlebutton" type="button" value="Save Changes" class="btn btn-success" ng-click="saveChanges()">
                    </span>
                    <span class="col-md-6 text-right">
                        <input type="button" value="Back to List" class="btn btn-warning" ng-click="backToList()" />
                    </span>
                </div>
            </div>
        </fieldset>         
    </div>
</div>
