@{
    Script.Require("AngularJS-Resource");
    Script.Require("Admin.Member.List.All");
    Script.Require("NgCsv");  

    Style.Require("Admin.Member.List.All");
    Style.Require("trNgGrid");
}

<div id="AdminMembers" data-ng-app="Admin.Member.List.All.App" class="col-md-12">
    <div data-ng-controller="AdminMemberListController">
        <fieldset>
            <div id="memberList">
                @Html.Partial("Admin/ListAll/_MemberList")
                <button type="button" ng-csv="getExportMembers()" csv-header="[Surname, Firstname]" filename="list.csv">Export</button>
            </div>
            <div id="memberDetail">
                @Html.Partial("_Shared/_GuardianDetails")
                @Html.Partial("_Shared/_JuniorDetails")
                @Html.Partial("_Shared/_JuniorRepeatDetails")
                @Html.Partial("_Shared/_GuardianRepeatDetails")
                <div class="form-group">
                    <span class="col-md-6">
                        <input id="singlebutton" type="button" value="Save Changes" class="btn btn-success" ng-click="saveChanges()">
                    </span>
                    <span class="col-md-6 text-right">
                        <input type="button" value="Back to List" class="btn btn-warning" ng-click="backToList()" />
                    </span>
                </div>
            </div>
        </fieldset>
    </div>
</div>
